<!DOCTYPE html>
<html>
<head>
  <title>Job Careers</title>
  
</head>
  <body>
    <h1 styles: >Job Careers</h1>
    <hr>
    <section>
      <div>
        <img src="../static/banner.jpg" width="690" height="180" alt="banner">
      </div>
    </section>
    <h2>About</h2>
    <p>
      Lorem ipsum dolor sit amet. Non voluptate excepturi nam quam nobis et voluptatem quae 33 numquam quos. Qui consequatur quasi id voluptatem dignissimos et quos nisi et consequatur laborum et doloremque odio. A dignissimos molestiae quo earum maxime ut praesentium autem aut possimus ipsam et tenetur amet.
    </p>
  </body>
</html>